@media (max-width: 768px) {
  .dropdown-menu {
      flex-direction: column; 
  }
}

* {
  box-sizing: border-box;
}

@media (max-width: 576px) {
  .icon-size {
    font-size: 20px;
  }
  .navbar {
    margin-top: 0 !important;
  }
}
@media (max-width: 768px) {
  .icon-size {
    font-size: 20px;
  }
  .navbar {
    margin-top: 0 !important;
  }
}

.img-slider{
  border: 0.5px solid;
  border-color: #e6e4ec;
}
.slider-cart{
  display: flex;
  flex-wrap: wrap;
}
.adv-img{
  height: 500px;
}
.service-img{
  height: 300px;
}

@media (max-width: 992px) { 
  .header {
    display: none; 
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header-text {
    text-align: left;
    margin-bottom: 10px;
  }

  .nav-left, .nav-right {
    flex-direction: column;
    width: 100%;
  }

  .nav-right {
    align-items: flex-end;
  }
}

.card{
  border: 0.5px solid;
  border-color: #c9c7c7;
}


.badge {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  font-size: 1.2em;
}